.DS_Store

/application/config/development/constants.php
development

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/*.sublime-project
*.sublime-workspace

application/config/constants.php
application/config/config.php
